@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app {
  overflow: auto;
}

.survey-controls {
  justify-content: space-between;
}

.survey-controls > * {
  flex-basis: 49%;
}

.chart .bar {
  position: relative;
  transition: width .4s ease;
}

.bar label {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
}